.content {
  margin-top: 50px;
}

.contrat-content {
	padding-top: 20px;
	height: 400px;
}

#echeance  .k-datepicker {
	background-color: #f3f3f3;
}

.align-center-icon {
  color: white;
  position: relative;
  top: -5px;
  transform: translateY(31%);
  text-align: center;
  width: 66px;
  margin-right: 9px;
}
.align-center-icon2 {
  color: white;
  position: relative;
  top: -5px;
  transform: translateY(31%);
  text-align: center;
  width: 45px;
  margin-right: -7px;
  margin-left: 11px;
}

.align-right {
  text-align: right;
}

.search-cancel-icons-span {
  margin-right: 10px;
  margin-left: 5px;
}
.search-cancel-icons-i {
  padding-top: 5px;
}