<section class="contrat-content">
  <div class="panel-heading bg-color-title-panel-dark-blue  panel-title-box title-box bg-color-title-panel-dark-blue  ">
    <div class="row no-margin ">
      <div class="col-md-1 col-sm-1 icone-size-large no-margin no-padding icon-panel-behavor color-white"
      >
        <a data-toggle='collapse'  class="color-white">
          <i class="material-icons">home</i>
        </a>
      </div>
      <div class="col-md-7 title-font-size-large no-margin no-padding-left no-padding-right icons-label-behavor">
        <div class="col-md-7 no-padding-left ">{{ 'contrat.list.adminPanel.title' | translate }}</div>
        <div class="col-md-5 text-right no-margin no-padding-left no-padding-right">
          <change-context></change-context>
        </div>
      </div>

      <div class="col-md-4 no-padding-left no-padding-right no-margin icon-panel-behavor icone-header-padding-top ">
        <div class="row">
          <div class="col-md-12" >
            <ul class="list-unstyled ">
              <!--<li class="col-md-1 col-sm-1 item-menu-edition-facture pull-right"><a href="#" title=" {{ 'contrat.list.menu.suppression.title' | translate }}"><span><i class="material-icons">delete</i> </span> </a></li>-->
              <li class="col-md-1 col-sm-1 item-menu-edition-facture pull-right"><a ui-sref="contrats.create" title="{{ 'contrat.list.menu.nouvelle.title' | translate }}"> <span><i class="material-icons">add_circle</i>  </span> </a></li>
              <li class="col-md-1 col-sm-1 item-menu-edition-facture pull-right"><a href="#div-search-contrats" data-toggle="collapse" title="{{ 'contrat.list.menu.recherche.title' | translate }} "><span><i class="material-icons">search</i></span> </a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

      <!--panel search invoice -->
  <div class="panel owner-panel collapse" id="div-search-contrats">
    <div class="panel-heading panel-title-edition-facture panel-title-box title-box bg-color-title-panel-dark-blue  ">
      <div class="row no-margin">
        <div class="col-md-1 col-sm-1 icone-size-large no-margin no-padding icon-pointer icon-panel-behavor  color-white">
          <a data-toggle='collapse' ng-click="isCollapsedSearch =! isCollapsedSearch;"
              class="color-white">
            <i class="material-icons">search</i>
          </a>
        </div>
        <div class="col-md-6 col-md-11 title-font-size-large no-margin no-padding-left icons-label-behavor">
          {{ 'contrat.list.searchContrat.recherche.title' | translate }}</div>
      </div>
    </div>

    <div class="panel-body  panel-body-edition-facture" collapse="isCollapsedSearch" ng-show="!isCollapsedSearch" id="panel-search-contrats">
      <div class="col-md-12">
        <form name="filterForm" class="form-horizontal" ng-submit="filterContrat()">
          <div class="row">
             <div class="col-md-6 form-group">
              <label class="col-md-4 control-label">{{ 'contrat.list.searchContrat.contratNumber.title' | translate }}</label>
              <div class="col-md-8">
                <input name="contratNumber" type="text" ng-model="newFiltreContrat.contratNumber" id="contratNumber" class="form-control" placeholder="Numéro du contrat">
              </div>
            </div>

            <div class="col-md-6 form-group">
              <label class="col-md-4 control-label" >{{ 'contrat.list.searchContrat.contratDateCreated.title' | translate }}</label>
              <div class="col-md-8">
                <input type="text" name="contratDateCreated" ng-model="newFiltreContrat.contratDateCreated" kendo-date-picker k-format ="'dd/MM/yyyy'" class="form-control" style=" width: 100%" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              <label class="col-md-4 control-label">{{ 'contrat.list.searchContrat.customerName.title' | translate }}</label>
              <div class="col-md-8">
                <input name="customerName" type="text" ng-model="newFiltreContrat.customerName" id="customerName" class="form-control" placeholder="Nom du client">
              </div>
            </div>

            <div class="col-md-6 form-group" >
              <label class="col-md-4 control-label" >{{ 'contrat.list.searchContrat.customerCode.title' | translate}}</label>
              <div class="col-md-8">
                <!--<input type="text" name="dateCreate" ng-model="newFiltreContrat.dateCreate" kendo-date-picker k-format ="'dd/MM/yyyy'" class="form-control" style=" width: 100%" />-->
                <input name="customerCode" type="number" ng-model="newFiltreContrat.customerCode" id="customerCode" class="form-control" placeholder="Code du client" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              <label class="col-md-4 control-label" >{{ 'contrat.list.searchContrat.contratType.title' | translate }}</label>
              <div class="col-md-8">
                <select class="form-control" ng-model="newFiltreContrat.contratType">
                  <option  value="" ng-selected="!newFiltreContrat.contratType">Choisir...</option>
                  <option  value="0" ng-selected="newFiltreContrat.contratType === 0">{{ 'contrat.list.searchContrat.contratType.options.inCurrentState' | translate }}</option>
                  <option  value="1" ng-selected="newFiltreContrat.contratType === 1">{{ 'contrat.list.searchContrat.contratType.options.closedState' | translate }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 form-group">
             <div class="col-md-12" style="text-align:right">
                  <label class="control-label">
                  <input type="checkbox" value="" name="seeAll" ng-model="newFiltreContrat.seeAll">
                  <span><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
                     {{ 'contrat.list.searchContrat.SeeAll.title' |  translate }}
                </label>
              </div>
              <!-- <div class="clearfix"></div> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group"></div>
            <div class="col-md-6 form-group" style="text-align:right">
            <div class="col-md-12">
              <button class="btn ng-binding" type="button" ng-click="cancelFiltre()">
                <span class="glyphicon glyphicon-remove"></span>
                {{ 'buttons.cancel.title' |  translate }}
              </button>

              <button class="btn ng-binding" type="submit" ng-disabled="!newFiltreContrat.contratNumber && !newFiltreContrat.customerName && !newFiltreContrat.contratDateCreated 
                && !newFiltreContrat.customerCode && (newFiltreContrat.contratType === null || newFiltreContrat.contratType === '') && !newFiltreContrat.seeAll">
                <span class="glyphicon glyphicon-search"></span>
                {{ 'main.form.shearch.title' |  translate }}
              </button>
             </div>
          </div>
          </div>

      </form>
      </div>
    </div>
  </div>


  <!--panel list Factures on pause status-->
  <div class="panel owner-panel icon-pointer" >
    <div class="panel-heading panel-title-edition-facture  panel-title-box title-box
    bg-color-title-panel-dark-blue  " ng-click="isCollapsedPause =! isCollapsedPause;"  ng-class=" isCollapsedPause ? 'border-pause' : ''">
      <div class="row no-margin">
        <div class="col-md-1 col-sm-1 icone-size-large no-margin no-padding icon-pointer icon-panel-behavor  color-white"
        >
          <a data-toggle='collapse'
             class="color-white">
            <i class="material-icons">alarm</i>
          </a>
        </div>
        <div class="col-md-6 col-md-11 title-font-size-large no-margin no-padding-left icons-label-behavor"
        >
          {{ 'contrat.type.encours.title' | translate }}</div>


      </div>
    </div>

    <div class="panel-body  panel-body-edition-facture no-padding" collapse="isCollapsedPause" ng-show="!isCollapsedPause"  id="panel-pause-factures">

      <div  class="row  no-margin">
        <div ng-include="'modules/contrats/client/includes/list-contrat-en-cours.client.include.html'" ></div>
        <uib-pagination total-items="listeContratEnCours.length" items-per-page="perPage" next-text="{{ 'pagination.next' | translate }}"
                        previous-text="{{ 'pagination.previous' | translate }}" first-text="{{ 'pagination.first' | translate }}"
                        last-text="{{ 'pagination.last' | translate }}" ng-model="currentPageEnCours" max-size="maxSize"
                        class="pagination-sm no-margin pull-right" boundary-links="true" rotate="false" ng-show="listeContratEnCours.length > 0">
        </uib-pagination>
      </div>



    </div>
  </div>
</section>


