<div class="">
  <div class="modal-header">
    <div class="">
      <div class="col-md-11 col-sm-11 col-xs-10 text-center"><h3 class="text-left">{{ 'contrat.confirm.confirmReopenContrat.title' | translate }}</h3></div>
      <div class="col-md-1 col-sm-1 col-xs-2"><button type="button" class="close pull-right" ng-click="confirmclotureContratcanceled()">×</button></div>
    </div>

  </div>
  <div class="modal-body">
    {{ 'contrat.confirm.confirmReopenContrat.libelle' | translate }}
  </div>
  <div class="modal-footer" style="border: none">
    <button class="btn" ng-click="confirmclotureContratYes()"> <span class="glyphicon glyphicon-ok"></span> {{ 'contrat.button.yes.title' | translate }}</button>
    <button class="btn" ng-click="confirmclotureContratcanceled()"><span class="glyphicon glyphicon-remove"></span>  {{ 'contrat.button.non.title' | translate }}</button>
  </div>

</div>
