


<table class="table no-margin table-factures" ng-if="facturesContrat.length > 0">
  <thead class=" title-box thead-edition" >
  <tr class="">
    <th class="col-md-2 align-center">
      <a class="list-facture-link color-white" href="#" ng-click="sortType = 'invoiceDate'; sortReverse = !sortReverse">
        {{ 'facture.list.creationDate'| translate }}
      </a>
    </th>
    <th class=" text-right">
      <a class="list-facture-link color-white" href="#" ng-click="sortType = 'invoiceTTC'; sortReverse = !sortReverse">
        {{ 'facture.list.ttcMontant'| translate }}
      </a>
    </th>
    <th class="align-center">
      <a class="list-facture-link color-white" href="#" ng-click="sortType = 'typeInvoice'; sortReverse = !sortReverse">
        {{ 'facture.list.type'| translate }}
      </a>
    </th>
    <th class="">
      <a class="list-facture-link color-white" href="#" ng-click="sortType = 'userCode'; sortReverse = !sortReverse">
        {{ 'facture.list.author'| translate }}
      </a>
    </th>

  </tr>
  </thead>
  <tbody class="">
  <tr class="item-saved-ligne icon-pointer" ng-repeat="facture in facturesContrat | orderBy:sortType:sortReverse | start: (currentPagePause - 1) * perPage | limitTo: perPage track by $index"
      ng-class="{'tr-selected':facture.invoiceCode === selectedFacture.invoiceCode}" ng-click="setCurrentFacture(facture)" ng-dblclick="viewAFacture(facture.invoiceCode)">
    <td class="col-md-1 align-center">{{facture.invoiceDate | date:'dd/MM/yyyy'}}</td>
    <td class="col-md-3 text-right nopadding">{{facture.invoiceTTC.toFixed(2)}}</td>
    <td class="col-md-1 align-center">{{facture.typeInvoice}}</td>
    <td class="col-md-1">{{facture.userCode}}</td>


  </tr>
  </tbody>
</table>

<div ng-if="facturesContrat.length <= 0">
  <p class="have-padding" style="font-size: small;color: #888"> {{ 'contrat.factures.list.empty.title' | translate }} </p>
</div>
<uib-pagination total-items="facturesContrat.length" items-per-page="perPage" next-text="{{ 'pagination.next' | translate }}"
                previous-text="{{ 'pagination.previous' | translate }}" first-text="{{ 'pagination.first' | translate }}"
                last-text="{{ 'pagination.last' | translate }}" ng-model="currentPagePause" max-size="maxSize"
                class="pagination-sm no-margin pull-right" boundary-links="true" rotate="false" ng-show="facturesContrat.length > 0">
</uib-pagination>
