<table class="table no-margin table-factures" ng-if="listeContratEnCours.length > 0">
    <thead class=" title-box thead-edition">
        <tr class="">
            <th class="col-md-2 align-center">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'createdDate'; sortReverse = !sortReverse">
        {{ 'contrat.list.createdDate'| translate }}
      </a>
            </th>
            <th class="col-md-2 align-center">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = ['firstNameCustomer','lastNameCustomer']; sortReverse = !sortReverse">
        {{ 'contrat.list.clientName'| translate }}
      </a>
            </th>
            <th class="">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'clientCode'; sortReverse = !sortReverse">
        {{ 'contrat.list.clientCode'| translate }}
      </a>
            </th>
            <th class="col-md-1">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'contratNumber'; sortReverse = !sortReverse">
        {{ 'contrat.list.numeroContrat'| translate }}
      </a>
            </th>
            <th class=" text-right">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">
        {{ 'contrat.list.dateDebut'| translate }}
      </a>
            </th>
            <th class="align-center">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">
        {{ 'contrat.list.dateFin'| translate }}
      </a>
            </th>
            <th class="">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'ttcAmountGlobal'; sortReverse = !sortReverse">
        {{ 'contrat.list.globalTTC'| translate }}
      </a>
            </th>
            <th class="">
                <a class="list-facture-link color-white" href="#" ng-click="sortType = 'startDateForNextPeriod'; sortReverse = !sortReverse">
        {{ 'contrat.list.nextEdition'| translate }}
      </a>
            </th>
        </tr>
    </thead>
    <tbody class="">
        <tr class="item-saved-ligne icon-pointer" ng-repeat="contrat in listeContratEnCours | orderBy:sortType:sortReverse | start: (currentPageEnCours - 1) * perPage | limitTo: perPage track by $index" ng-class="{'tr-selected':contrat.code === selectedContrat.code}"
            ng-click="setCurrentContrat(contrat)" ng-dblclick="viewAContrat(contrat.code)">
            <td class="col-md-1 align-center nopadding">{{contrat.createdDate | date:'dd/MM/yyyy'}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.firstNameCustomer}} {{contrat.lastNameCustomer}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.customerCode}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.contratCode}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.startDate | date:'dd/MM/yyyy'}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.endDate | date:'dd/MM/yyyy'}}</td>
            <td class="col-md-1 align-right nopadding">{{contrat.ttcAmountGlobal || '0.00 €'}}</td>
            <td class="col-md-1 align-center nopadding">{{contrat.startDateForNextPeriod | date:'dd/MM/yyyy'}}</td>

        </tr>
    </tbody>
</table>

<div ng-if="listeContratEnCours.length <= 0">
    <p class="have-padding" style="font-size: small;color: #888"> {{ 'contrat.list.emptyEnCours.title' | translate }} </p>
</div>