<section>
  <div class="top-box-client">
    <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.vehicule' |
          translate }}</label></div>
        <div class="col-md-8 input-group">
          <input ng-disabled="valueReadOnly"  ng-click="choiceVehiculeCaracter({ code: '' })" type="text" ng-model="contrat.contratParameters.vehicule.description" name=""
                 class="form-control" style="width: 93%; margin-left: 16px;">
            <span class="input-group-btn">
                       <button ng-disabled="valueReadOnly" type="button" class="btn button-shearch-client-active" ng-click="choiceVehiculeCaracter({ code: '' })" style="margin-left: -40%;height: 34px;border: solid 1px #ccc;">
                         <span class="glyphicon glyphicon-search"></span>
                       </button>
                      </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{
          'contrat.edition.parametrecontrat.nombreEcheancesPrevus' | translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="valueReadOnly" type="text" ng-model="contrat.contratParameters.deadLineNumber" name=""
                 class="form-control">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--<div class="row padding-top" >

      <div class="clearfix"></div>
    </div>-->
    <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.periodicite' |
          translate }}</label></div>
        <div class="col-md-8">
          <!---->
          <!--<input ng-disabled=""  type="text" ng-model="contrat.contratParameters.periodicity" name=""  class="form-control"   >-->
          <select ng-disabled="valueReadOnly ||  parseNumberInvoiceEdited()!== 0" id="periodicity" class="form-control" ng-model="contrat.contratParameters.periodicity"
                  >
            <option ng-repeat=" period in periodicity track by period.code" value="{{period.code}}">{{ period.labelFR
              }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.modeReglement' |
          translate }}</label></div>
        <div class="col-md-8">
          <!--<select ng-disabled="valueReadOnly" id="modeReglement" class="form-control" ng-model="contrat.contratParameters.paymentMode.code">
            <option ng-repeat=" paymentMode in modereglement  track by paymentMode.code" value="{{paymentMode.code}}">{{ paymentMode.description
              }}
            </option>
          </select>-->
          <select ng-disabled="valueReadOnly" id="modeReglement" class="form-control"
          ng-model="contrat.contratParameters.paymentMode" ng-options="paymentMode.description for paymentMode in modereglement track by paymentMode.code">
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.totalInvoiceEdited'
          | translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true" type="text" ng-model="contrat.contratParameters.htAmountGlobal" name=""
                 class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{
          'contrat.edition.parametrecontrat.editedInvoiceNumber' | translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true" type="text" ng-model="contrat.contratParameters.numberInvoiceEdited" name=""
                 class="form-control">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{
          'contrat.edition.parametrecontrat.ttcInvoiceEdited' | translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true" type="text" ng-model="contrat.contratParameters.ttcInvoiceEdited" name=""
                 class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.ttcTheoricContrat'
          | translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true" type="text" ng-model="contrat.contratParameters.ttcAmountGlobal" name=""
                 class="form-control">
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="echeance" style="background-color: #f3f3f3;padding-top: 20px; padding-bottom: 20px;margin-top: 20px;">
      <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.startDate' |
          translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="valueReadOnly || parseNumberInvoiceEdited() !== 0"   type="text"
                 name="dateContrat" ng-model="contrat.contratParameters.startDate"
                 kendo-date-picker k-format="'dd/MM/yyyy'" class="none-radius form-control"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.echeances' |
          translate }}</label></div>
        <div class="col-md-8">
          <select ng-disabled="valueReadOnly" class="form-control" ng-model="contrat.contratParameters.deadLine">
            <option ng-repeat="item in paymentdead  track by item.code" value="{{item.code}}">{{ item.description}}</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
      <div class="row padding-top">
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.endDate' |
          translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true"   type="text" name="dateContrat"
                 ng-model="contrat.contratParameters.endDate"
                 kendo-date-picker k-format="'dd/MM/yyyy'" class="none-radius form-control"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-4" style="padding-top: 10px;"><label>{{ 'contrat.edition.parametrecontrat.nextDeadlineDate' |
          translate }}</label></div>
        <div class="col-md-8">
          <input ng-disabled="true"   type="text" name="dateContrat"
                 ng-model="contrat.contratParameters.startDateForNextPeriod"
                 kendo-date-picker k-format="'dd/MM/yyyy'" class="none-radius form-control"/>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    </div>
  </div>
</section>
